<h3>Principais Prioridades</h3>

<div class="bs-docs-example project-label">
  <div class="small-margin">
    <%- if @projects.present? %>
      <%= render "projects/list" %>
    <%- else -%>
      <div class="alert alert-success">
        <%= t("message.well_done").html_safe %>
        <%= t("message.no_subject", subject: "projetos").html_safe %>
      </div>
    <%- end -%>
  </div>
  <a class="btn btn-mini btn-info" href="<%= projects_path %>"><%= t("message.list_projects") %></a>
</div>

<div class="bs-docs-example problem-label">
  <div class="small-margin">
    <%- if @problems.present? %>
      <%= render "problems/list" %>
    <%- else -%>
      <div class="alert alert-success">
        <%= t("message.well_done").html_safe %>
        <%= t("message.no_subject", subject: "problemas").html_safe %>
      </div>
    <%- end -%>
  </div>
  <a class="btn btn-mini btn-info" href="<%= problems_path %>"><%= t("message.list_problems") %></a>
</div>
