<%= simple_form_for @comment, url: build_action_for_comment(@comment), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :content %>
  <%= f.input :commentable_id %>
  <%= f.input :commentable_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                build_path_comments, :class => 'btn' %>
  </div>
<% end %>
