<%- model_class = Comment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= t("comment.user.email") %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.email %></td>
        <td><%=l comment.created_at, format: :short %></td>
        <td>
          <% if can? :update, comment %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              build_path_edit_comment(comment), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, comment %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                build_path_comment(comment),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
            build_path_for_commentable,
            :class => 'btn' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            build_path_new_comment,
            :class => 'btn btn-primary' %>
