<%= simple_form_for @user do |f| %>
  <%= f.input :email, label: "E-mail" %>
  <%= f.input :username, label: "Login" %>
  <%= f.input :password, label: "Senha" %>
  <%= f.input :password_confirmation, label: "Confirme sua senha" %>
  <%= f.input :group_id, collection: Group.all, label: "Apartamentos"  %>
  <%= f.input :role_id, collection: Role.all, label: "Permissões" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
