<%= simple_form_for @project, :html => { :class => 'form-horizontal well' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :progress_rate %>
  <%= f.input :started_at %>
  <%= f.input :dead_line_at %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
