<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "title" %></th>
      <th><%= "description" %></th>
      <th><%= "progress_rate" %></th>
      <th><%= t('content.project.cosumed_rate') %></th>
      <th><%= "started_at" %></th>
      <th><%= "dead_line_at" %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td>
          <div class="progress progress-striped active">
            <div class="bar" style="width: <%= project.progress_rate %>%;"><%=project.progress_rate %>%</div>
          </div>
        </td>
         <td>
           <div class="progress <%= detect_alerts(project) %> progress-striped active">
            <div class="bar" style="width: <%= project.consumed_time_rate %>%;"><%=project.consumed_time_rate %>%</div>
          </div>
        </td>
        <td><%= format_date_to_str project.started_at %></td>
        <td><%= format_date_to_str project.dead_line_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
