<div class="navbar navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <p class="brand"><b>Community</b></p>
      <% if current_user %>
        <p class="navbar-text pull-right">
        <%= t("menu.hello") + current_user.email %>.
        <%= link_to t("menu.logout"), logout_path, class: "logout" %>
        </p>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="menu-span"><%= link_to "Home", root_path %></li>
            <li class="menu-span"><%= link_to t("menu.dashboard"), dashboard_index_path %></li>
            <li class="dropdown menu-span">
              <a class="dropdown-toggle"  data-toggle="dropdown" href="#">Vote aqui</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                 <li><%= link_to t("menu.problems"), problems_path %></li>
                 <li><%= link_to t("menu.project"), projects_path %></li>
              </ul>
              </li>
              <% if can? :create, Group %>
                <li class="menu-span"><%= link_to t("menu.groups"), groups_path %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
