<%= simple_form_for @vote, url: build_action_for_vote(@vote), :html => { :class => 'well' } do |f| %>
  <%= f.input :value %>
  <%= f.input :votable_id, as: :hidden %>
  <%= f.input :votable_type, as: :hidden %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                build_path_votes, :class => 'btn' %>
  </div>
<% end %>
