<div id="votes-charts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript" charset="utf-8">
$(function () {
    	// Radialize the colors
		Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
    });

    $('#votes-charts').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Resultado da votação'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f}% '
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Número de Votos',
            data: [
                {
                    name: 'Urgente',
                    y: <%= @statistics[:urgent]%>,
                    color: '#303030',
                },
                {
                    name: 'Importante',
                    y: <%= @statistics[:important]%>,
                    color: '#D84C47'
                },
                {
                    name: 'Relevante',
                    y: <%= @statistics[:relevant]%>,
                    sliced: true,
                    selected: true,
                    color: '#FAA329'
                },
                {
                    name: 'Desejado',
                    y: <%= @statistics[:wanted]%>,
                    color: '#56AD56'
                },
                {
                    name: 'Não fazer',
                    y: <%= @statistics[:unwanted]%>,
                    color: '#0061CC'
                },
            ]
        }]
    });
  });
</script>

<table class="table table-condensed span4">
  <tr class="btn-inverse">
    <td><%= t('priority.urgent')%></td>
    <td><%= @statistics[:urgent] %> </td>
  </tr>
  <tr class="btn-danger">
    <td><%= t('priority.important')%></td>
    <td><%= @statistics[:important] %> </td>
  </tr>
  <tr class="btn-warning">
    <td><%= t('priority.relevant')%></td>
    <td><%= @statistics[:relevant] %> </td>
  </tr>
  <tr class="btn-success">
    <td><%= t('priority.wanted')%></td>
    <td><%= @statistics[:wanted] %> </td>
  </tr>
  <tr class="btn-primary">
    <td><%= t('priority.unwanted')%></td>
    <td><%= @statistics[:unwanted] %> </td>
  </tr>
  <tr>
    <td><b><%= t('priority.total')%></b></td>
    <td><b><%= @statistics[:total] %> votos</b></td>
  </tr>
  <tr>
    <td><b><%= t('priority.ranking_points')%></b></td>
    <td><b><%= @statistics[:ranking_points] %> pontos</b></td>
  </tr>
</table>
<div class="button_back" >
  <%= link_to t('.back', :default => t("helpers.links.back")),
    projects_path, :class => 'btn'  %>
  </div>
